<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

<body>
    <form id="add_member_form">
        <input type="text" id="email" name="email" value="아이디입력">
        <input type="text" id="password" name="password" value="비밀번호입력">
        <div class="g-recaptcha" data-sitekey="6LcMFqYpAAAAAP3B-xIaexrR1ipMyWnKdmtI8JBj"></div>
        <button id ="join_button" type="button" onclick="login()">회원가입</button>
    </form>
</body>
<script>

    /*
     * 캡차로그인 방식
     */
    function login(){

        $.ajax({
            url: '/login',
            type: 'post',
            data: {
                email : $("#email").val(),
                password : $("#password").val(),
                recaptcha: $("#g-recaptcha-response").val()
            },
            success: function(data) {
               alert('성공');
            }
        });

    }



</script>
</html>